In [1]:
import pandas as pd
import numpy as np

print("Kernel is working!")

Kernel is working!

In [2]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

In [3]:
genres = ['Action', 'Comedy', 'Drama', 'Thriller', 'Romance', 'Sci-Fi', 'Documentary']

content_list = []

for i in range(1, 201):
    content = {
        'content_id': f'C{i:03}',
        'title': f'Title_{i}',
        'genre': random.choice(genres),
        'type': random.choice(['Movie', 'Show']),
        'release_year': random.randint(2000, 2024)
    }
    content_list.append(content)

content_catalog = pd.DataFrame(content_list)
content_catalog.head()

  content_id    title        genre   type  release_year
0       C001  Title_1       Sci-Fi   Show          2010
1       C002  Title_2       Action  Movie          2010
2       C003  Title_3     Thriller  Movie          2014
3       C004  Title_4      Romance   Show          2000
4       C005  Title_5  Documentary  Movie          2022

In [5]:
watch_history = []

for user in range(1, 301):  # 300 users
    for _ in range(random.randint(20, 60)):  # each user watches 20-60 contents
        watch = {
            'user_id': f'U{user:04}',
            'content_id': random.choice(content_catalog['content_id'].values),
            'watch_time_min': random.randint(5, 180),
            'rating': random.randint(1, 5),
            'watch_date': datetime.now() - timedelta(days=random.randint(1, 365))
        }
        watch_history.append(watch)

user_watch_history = pd.DataFrame(watch_history)
user_watch_history.head()

  user_id content_id  watch_time_min  rating                 watch_date
0   U0001       C118             164       2 2025-06-23 16:09:50.935680
1   U0001       C079              20       5 2025-06-16 16:09:50.935852
2   U0001       C061              34       3 2025-09-05 16:09:50.935963
3   U0001       C198              59       4 2026-01-31 16:09:50.936052
4   U0001       C130             130       2 2025-11-02 16:09:50.936127

In [6]:
content_catalog.to_csv('../data/content_catalog.csv', index=False)
user_watch_history.to_csv('../data/user_watch_history.csv', index=False)